* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to top, #0a0e14, #262c35);
}

.text-gold {
  background: linear-gradient(
    to bottom,
    rgba(218, 165, 32),
    #D6B680, /* Added color stop in the middle */
    rgba(184, 134, 11)
  );
  background-clip: text;
  color: transparent;
}

.bg-gold {
  background: linear-gradient(
    to bottom,
    rgba(218, 165, 32, 0.7),
    rgba(184, 134, 11, 0.7)
  );
}

/* SECTION HEADING STYLE */
.line-before-and-after {
  content: "";
  display: inline-block;
  width: 4.5rem; /* Adjust the width as needed */
  height: 0.3rem; /* Adjust the height as needed */
  background-color: #cecece; /* Your desired line color */
  vertical-align: middle;
  margin: 0 1rem; /* Adjust the margin as needed to space the line from the text */
}



/* Change these to rems later */
/*  sm  */
@media screen and (min-width: 480px) {
  .line-before-and-after {
    margin: 0 2rem;
    width: 8rem;
  }
}

/*  md */
/*
@media screen and (min-width: 768px) {
  
} 

/*  lg  */
/* @media screen and (min-width: 976px) {
  
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  nav ul li a {
    @apply text-secondary;
  }
  nav ul li a:hover {
    @apply text-gold;
    font-weight: bold;
  }

  span a {
    @apply text-secondary;
  }
  span a:hover {
    color: white;
  }
}

@layer components {
  .container {
    @apply w-[75%] max-w-lg mx-auto
  }
}